body {
	margin: 0;
	background:#111;
	color:#eee;
	font-family: system-ui;
}
	.panel {
		display:flex;
		gap:8px;
		align-items:center;
		padding:8px;
	}
	.wrap {
		display:grid;
		grid-template-columns: 50px 1fr;
		gap:0;
		width: 1000px;
		height: 450px;
		margin: 8px;
		overflow: auto;
	}
#divBpm {
  display: grid;
  justify-items: center;
  text-align: center;
}

#wrapId {
  margin-right: 55px;
}
	.keys, .roll {
		position: relative;
	}
	canvas {
		display:block;
		background:#141414;
		touch-action: none;
	}
	button, input { 
		background: linear-gradient(to top, #222222, black);
		color:#eee;
		border:1px solid #444;
		padding:6px 10px; 
		border-radius:6px; 
	}
	input[type="number"] {
		width:70px;
	}
	.slider-container {
	display: flex;
	flex-direction: row;   /* 👈 apila los sliders verticalmente */
	align-items: center;      /* centra los sliders dentro del div */
	gap: 10px;                /* espacio entre sliders */
	height: 200px;            /* alto del contenedor */
	margin-left: 60px;
}

.slider-container input[type="range"] {
	writing-mode:sideways-lr;              de abajo hacia arriba
	width: 20px;                      ancho del slider
	height: 100px;                    alto del slider
}
.part {
	   background: linear-gradient(to top, grey, white);
	/*background-color: lightgray; /* color normal */
	color: black;
	padding: 10px 20px;
	border: none;
	margin: 5px;
	cursor: pointer;
}

.part.active {
	background: linear-gradient(to top, #B0260B, red);
/*	background-color: red; /* color activo */
	color: white;
}
.bses {
	background: linear-gradient(to top, grey, white);
	color: black;
	padding: 5px 20px;
	border: none;
	margin: 5px;
	cursor: pointer;
	height: 25px;
	width: 100px
}
.bses.active {
	background: linear-gradient(to top, green, #41AD39);
	color: black;
}
.var {
	background: linear-gradient(to top, grey, white);
	color: black;
	padding: 10px 20px;
	border: none;
	margin: 5px;
	cursor: pointer;
	height: 40px;
	width: 100px
}

.var.active {
	background: linear-gradient(to top, #AD9E39, yellow);
	color: black;
}
#canal {
	background-color: lightgray; /* color normal */
	font-size: 16px;     /* tamaño del texto */
	padding: 10px 20px;
	cursor: pointer;
	width: 80px;        /* ancho del select */
	height: 38px;        /* alto del select */
}
#agregar {
	background-color: lightgray; /* color normal */
	color: black;
	padding: 10px 20px;
	border: none;
	margin: 5px;
	cursor: pointer;
}
.blink {
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0.3; }
  100% { opacity: 1; }
}
/* Selecciona el scrollbar */
.wrap::-webkit-scrollbar {
  width: 40px;   /* grosor vertical */
  height: 40px;  /* grosor horizontal */
}

/* Fondo del scrollbar */
.wrap::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* La parte que se mueve (thumb) */
.wrap::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

/* Hover para hacerlo más visible */
.wrap::-webkit-scrollbar-thumb:hover {
  background: #555;
}